$dark-color: #00252e;
$silver-color: #808e9a;
$color-btn-bg: #ff52c1;
$footer-text-color: #ffffff;
$color-btn-bg-hover: #ff9adb;
$color_link-bg: #ffffff;
$color_fff: #fff;

$body-ff: "Open Sans", sans-serif;
$hedding-ff: "Poppins", sans-serif;
